blink {
	animation: blinker 1s linear infinite;
}
@keyframes blinker {  
	0%  { opacity: 1; color: red; background-color: blue; }
	25% { opacity: 0.5; color: green; background-color: purple; }
	50% { opacity: 0; color: blue; background-color: red; }
	75% { opacity: 0.5; color: purple; background-color: green; }
}
@keyframes rainbow {
	0%  { color: red; background-color: blue; }
	25% { color: green; background-color: purple; }
	50% { color: blue; background-color: red; }
	75% { color: purple; background-color: green; }
}
body {
	background-color: #ff7070;
	color: #0000ff;
	animation: rainbow 1s linear infinite;
}
