@import "solarised.css";

body{
	background-color: var(--base3);
	color: var(--base00);
}
.highlight{
	background-color: var(--base2);
}
.emph{
	color: var(--base01);
}
a:link, a:visited {
	background-color: var(--base2);
	color: var(--base1);
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

a:hover, a:active {
	background-color: var(--base1);
	color: var(--base3);
}
