@import "solarised.css";

body{
	background-color: var(--base03);
	color: var(--base0);
}
.highlight{
	background-color: var(--base02);
}
.emph{
	color: var(--base1);
}

.button:link, .button:visited {
	background-color: var(--base02);
	color: var(--base01);
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
}

.button:hover, .button:active {
	background-color: var(--base01);
	color: var(--base0);
}
